{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always"
}
